# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Distribution
dist/
build/
*.egg-info/
